<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard | PG2</title>

    <!-- HOJA DE ESTILOS CSS BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <!-- HOJA DE ESTILOS PROPIA -->
    <link rel="stylesheet" href="component.css">

    <!-- ICONOS -->
    <script src="https://kit.fontawesome.com/be221c52b4.js" crossorigin="anonymous"></script>

    <!-- ICONO EN EL TAB -->
    <link rel="icon" href="https://pasteleriaciro.com/image/catalog/logo_ciro_4.png">

    <!-- CHART JS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- SweetAlert2 Library -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>

    <div class="main-container d-flex">
        <div class="sidebar border border-3" id="side_nav">
            <button class="btn d-md-none d-block close-btn px-1 py-0"><i
                    class="fa-solid fa-close fs-4 mt-3"></i></button>
            <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-center mb-5 mt-5">
                <h1 class="fs-4 text-center mt-4"><img src="https://pasteleriaciro.com/image/catalog/logo_ciro_4.png"
                        alt="icono" width="120px"></h1>
            </div>
            <ul class="list-unstyled px-2">
                <li class="activo shadow mt-2"><a href="../dashboard/component"
                        class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-gauge me-3"></i>
                        Dashboard</a></li>
                <li class="mt-2"><a href="../administrative/component" class="text-decoration-none px-3 py-2 d-block"><i
                            class="fa-solid fa-lock me-3"></i> Administrativo</a></li>
                <li class="mt-2"><a href="../products/component" class="text-decoration-none px-3 py-2 d-block"><i
                            class="fa-solid fa-box me-3"></i> Productos</a></li>
                <li class="mt-2"><a href="../orders/component" class="text-decoration-none px-3 py-2 d-block"><i
                            class="fa-solid fa-truck me-3"></i> Pedidos</a></li>
                <li class="mt-2"><a href="../reports/component" class="text-decoration-none px-3 py-2 d-block"><i
                            class="fa-solid fa-chart-pie me-3"></i> Reportería</a></li>
            </ul>
        </div>
        <div class="content">
            <nav class="navbar navbar-expand-lg bg-white py-3 mb-5 border border-1">
                <div class="container-fluid">
                    <div class="d-flex d-block">
                        <button class="btn d-md-none px-1 py-0 open-btn px-1 py-0"><i
                                class="fa-solid fa-bars fs-4 mt-3"></i></button>
                    </div>
                    </button>
                    <div class="justify-content-end">
                        <div class="dropdown me-3">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="fa-solid fa-user me-3"></i><span id="userNameDisplay">{userName}</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="../account/component">Mi Cuenta</a></li>
                                <li><a class="dropdown-item" href="../../g/infoProblem/component"
                                        target="_blank">Reportar Problema</a>
                                </li>
                                <li onclick="closeSession()"><a class="dropdown-item" href="../../g/login/component"><i
                                            class="fa-solid fa-right-from-bracket me-2"></i> Cerrar Sesión</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>

            <div class="contenido container-fluid px-3 mt-5 px-1">
                <h2 class="h3 fw-bold">Cuenta Empleado</h2>
                <p>Gestiona los accesos a tu cuenta, información y demás.</p>
                <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
                    <button type="button"
                        class="px-5 py-2 shadow border border-2 text-decoration-none text-dark me-1 bg-light"
                        id="account-tab" data-bs-toggle="tab" data-bs-target="#account" role="tab"
                        aria-controls="account" aria-selected="false">Mi cuenta</button>
                </ul>
                <div class="tab-content" id="myTabContent">

                    <div class="tab-pane fade" id="account" role="tabpanel" aria-labelledby="account-tab">

                        <div class="card shadow mb-5">
                            <div class="card-body">
                                <p class="card-text mt-4 mb-4">
                                <p class="h5 fw-bold mb-4 text-muted">Mantenimiento</p>

                                <div class="row">

                                    <div class="col-md-12 col-lg-12 mb-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control text-muted" id="userName"
                                                placeholder="ejemplo1">
                                            <label for="floatingInput text-muted">Nombre(s) y Apellido(s)
                                                *</label>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-lg-12 mb-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control text-muted" id="address"
                                                placeholder="ejemplo1">
                                            <label for="floatingInput text-muted">Dirección
                                                *</label>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-lg-6 mb-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control text-muted" id="cellPhone"
                                                placeholder="ejemplo1">
                                            <label for="floatingInput text-muted">Teléfono
                                                *</label>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-lg-6 mb-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control text-muted" id="email"
                                                placeholder="ejemplo1">
                                            <label for="floatingInput text-muted">Correo Electrónico
                                                *</label>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-lg-6 mb-2">
                                        <div class="form-floating">
                                            <input type="text" class="form-control text-muted" id="nit"
                                                placeholder="ejemplo1">
                                            <label for="floatingInput text-muted">NIT
                                                *</label>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-lg-6 mb-2">
                                        <div class="form-floating">
                                            <select class="form-select text-muted" id="genderSelect"
                                                aria-label="Floating label select example">
                                                <option value="1">Hombre</option>
                                                <option value="0">Mujer</option>
                                            </select>
                                            <label for="floatingSelect">Género *</label>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 mb-2 text-center mt-3 mb-4">
                                        <button type="button" class="btn btn-success py-3 w-100"
                                            onclick="updateUserData()">Guardar</button>
                                    </div>
                                    <div class="col-lg-6 mb-2 text-center mt-3 mb-4">
                                        <button type="button" class="btn btn-warning py-3 w-100" data-bs-toggle="modal" data-bs-target="#passwordRestore">Cambiar
                                            Contraseña</button>
                                    </div>

                                </div>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL PARA RESTABLECER CONTRASEÑA DEL USUARIO -->
    <div class="modal fade" id="passwordRestore" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-light">
                    <h1 class="modal-title fs-5 text-muted">Restablecer Contraseña</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning text-center fw-bold">
                        <i class="fa-solid fa-circle-info me-2"></i>Al restablecer la contraseña tu sesión se
                        cerrará y se borrará todo lo que no se haya guardado.
                    </div>
                    <form>
                        <div class="row">
                            <div class="col-md-12 col-lg-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><i class="fa-solid fa-key text-secondary"></i></span>
                                    <div class="form-floating">
                                        <input type="password" class="form-control text-muted" id="newPassword" placeholder="">
                                        <label for="floatingInput text-muted">Nueva Contraseña *</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text"><i class="fa-solid fa-key text-secondary"></i></span>
                                    <div class="form-floating">
                                        <input type="password" class="form-control text-muted" id="repeatPassword" placeholder="">
                                        <label for="floatingInput text-muted">Repita Contraseña *</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="button" class="btn btn-danger w-100 py-3"
                                    onclick="updatePasswordUser()">Validar y
                                    Guardar
                                    <i class="fa-solid fa-floppy-disk ms-2 fs-5"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <p class="text-center text-muted">Recuerda que las contraseñas deben ser seguras y de
                        preferencia que contenga una letra
                        mayúscula, letras minúsculas,
                        un número y un caracter especial.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN DEL MODAL PARA RESTABLECER CONTRASEÑA -->

    <!-- SCRIPT DE BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="../../../business/admon/account.js"></script>
    <script>
        $(".sidebar ul li").on('click', function () {
            $(".activo").removeClass('activo');
            $(".shadow").removeClass('shadow');
            $(this).addClass('activo');
            $(this).addClass('shadow');
        });

        $(".open-btn").on('click', function () {
            $(".sidebar").addClass('activo');
        });

        $(".close-btn").on('click', function () {
            $(".sidebar").removeClass('activo');
        });
    </script>
</body>

</html>