* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid .row #backgroundImage{
    background-image: url('https://w.forfun.com/fetch/57/575e977810f681a74459b82295104716.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}


@media only screen and (max-width: 600px) {
    .contenedorTotalPagina .container-sm {
        width: 370px;
    }

    .contenedorTotalPagina .container-sm .loginBox {
        width: 100%;
        padding: 10% 0% 10% 0%;
    }

    .contenedorTotalPagina .container-sm .loginBox .authGoogle {
        margin: 0 auto;
        /* Margen automático */
        width: 60%;
        /* Ancho del div */
    }
}

/* COLORES */

.grayLight {
    background-color: #2D2D2D;
}