<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard | PG2</title>

    <!-- HOJA DE ESTILOS CSS BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <!-- HOJA DE ESTILOS PROPIA -->
    <link rel="stylesheet" href="../dashboard/component.css">

    <!-- ICONOS -->
    <script src="https://kit.fontawesome.com/be221c52b4.js" crossorigin="anonymous"></script>

    <!-- ICONO EN EL TAB -->
    <link rel="icon" href="https://pasteleriaciro.com/image/catalog/logo_ciro_4.png">

    <!-- SweetAlert2 Library -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>

    <!-- loader page -->
    <div class="preloader-wrapper">
        <div class="spinner-border text-dark" style="width: 3rem;height: 3rem;">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div class="main-container d-flex">
        <div class="sidebar border border-3" id="side_nav">
            <button class="btn d-md-none d-block close-btn px-1 py-0"><i
                    class="fa-solid fa-close fs-4 mt-3"></i></button>
            <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-center mb-5 mt-5">
                <h1 class="fs-4 text-center mt-4"><img src="https://pasteleriaciro.com/image/catalog/logo_ciro_4.png"
                        alt="icono" width="120px"></h1>
            </div>
            <ul class="list-unstyled px-2" id="menuModules">
            </ul>
        </div>
        <div class="content">
            <nav class="navbar navbar-expand-lg bg-white py-3 mb-5 border border-1">
                <div class="container-fluid">
                    <div class="d-flex d-block">
                        <button class="btn d-md-none px-1 py-0 open-btn px-1 py-0"><i
                                class="fa-solid fa-bars fs-4 mt-3"></i></button>
                    </div>
                    </button>
                    <div class="justify-content-end">
                        <div class="dropdown me-3">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="fa-solid fa-user me-3"></i><span id="fullName">{userName}</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="../account/component">Mi Cuenta</a></li>
                                <li><a class="dropdown-item" href="../../g/infoProblem/component" target="_blank">Reportar Problema</a>
                                </li>
                                <li><a class="dropdown-item" href="../../g/login/component"><i
                                            class="fa-solid fa-right-from-bracket me-2"></i> Cerrar Sesión</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>

            <!-- CONTENIDO DE LA PAGINA -->
            <div class="contenido container-fluid px-3 mt-5 px-1">
                <h2 class="h3 fw-bold">Pedidos</h2>
                <p>Puedes consultar diferente información en los sub menú que se te muestran en pantalla presionando
                    cada opción.</p>
                <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
                    <button type="button" class="px-5 py-2 shadow border border-2 text-decoration-none text-dark me-1 bg-light"
                        id="pedidos-pendientes-tab" data-bs-toggle="tab" data-bs-target="#pedidos-pendientes" role="tab"
                        aria-controls="pedidos-pendientes-tab-pane" aria-selected="true">Pendiendes</button>
                    <button type="button" class="px-5 py-2 shadow border border-2 text-decoration-none text-dark me-1 bg-light"
                        id="pedidos-finalizados-tab" data-bs-toggle="tab" data-bs-target="#pedidos-finalizados"
                        role="tab" aria-controls="pedidos-finalizados-tab-pane" aria-selected="true">Finalizados</button>
                    <button type="button" class="px-5 py-2 shadow border border-2 text-decoration-none text-dark me-1 bg-light"
                        id="realizar-pedido-tab" data-bs-toggle="tab" data-bs-target="#realizar-pedido" role="tab"
                        aria-controls="realizar-pedido-tab-pane" aria-selected="true">Realizar Pedido</button>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show" id="pedidos-pendientes" role="tabpanel"
                        aria-labelledby="pedidos-pendientes-tab">
                        <div class="card shadow mb-5">
                            <div class="card-body">
                                <p class="card-text mt-4 mb-4">

                                <div class="row g-4 mb-5">

                                    <div class="col-lg-12">
                                        <p class="h5 fw-bold mb-4 text-muted">Pedidos Pendientes</p>

                                        <div class="row g-3">
                                            <div class="col-md-12 col-lg-6 mt-4 mb-3">
                                                <div class="card bg-light border-0 shadow" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col">
                                                                <h5 class="card-title text-muted">Pedido #45024363
                                                                </h5>
                                                                <p>19/07/2023 20:25</p>
                                                                <p class="card-text text-muted fw-bold h5">Q53</p>
                                                            </div>
                                                            <div class="col text-end">
                                                                <p class="btn btn-success">Pendiente</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12 col-lg-6 mt-4 mb-3">
                                                <div class="card bg-light border-0 shadow" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col">
                                                                <h5 class="card-title text-muted">Pedido #45024363
                                                                </h5>
                                                                <p>19/07/2023 20:25</p>
                                                                <p class="card-text text-muted fw-bold h5">Q53</p>
                                                            </div>
                                                            <div class="col text-end">
                                                                <p class="btn btn-success">Pendiente</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="pedidos-finalizados" role="tabpanel"
                        aria-labelledby="pedidos-finalizados-tab">
                        <div class="card shadow mb-5">
                            <div class="card-body">
                                <p class="card-text mt-4 mb-4">

                                <div class="row g-4 mb-5">

                                    <div class="col-lg-12">
                                        <p class="h5 fw-bold mb-4 text-muted">Pedidos Finalizados</p>

                                        <div class="row g-3">
                                            <div class="col-md-12 col-lg-6 mt-4 mb-3">
                                                <div class="card bg-light border-0 shadow" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col">
                                                                <h5 class="card-title text-muted">Pedido #45024363
                                                                </h5>
                                                                <p>19/07/2023 20:25</p>
                                                                <p class="card-text text-muted fw-bold h5">Q53</p>
                                                            </div>
                                                            <div class="col text-end">
                                                                <p class="btn btn-danger">Finalizado</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12 col-lg-6 mt-4 mb-3">
                                                <div class="card bg-light border-0 shadow" data-bs-toggle="modal"
                                                    data-bs-target="#exampleModal">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col">
                                                                <h5 class="card-title text-muted">Pedido #45024363
                                                                </h5>
                                                                <p>19/07/2023 20:25</p>
                                                                <p class="card-text text-muted fw-bold h5">Q53</p>
                                                            </div>
                                                            <div class="col text-end">
                                                                <p class="btn btn-danger">Finalizado</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="realizar-pedido" role="tabpanel"
                        aria-labelledby="realizar-pedido-tab">
                        <div class="card shadow mb-5">
                            <div class="card-body">
                                <p class="card-text mt-4 mb-4">

                                <div class="row g-4 mb-5">

                                    <div class="col-lg-12">
                                        <p class="h5 fw-bold mb-4 text-muted">Realizar Pedido</p>

                                        <div class="row g-3">
                                            <a href="../../u/orders/orderNow/component" target="_blank"
                                                class="text-decoration-none">
                                                <div class="col-md-12 col-lg-12 mt-4 mb-3">
                                                    <div class="card bg-light border-0 shadow">
                                                        <div class="card-body">
                                                            <h5 class="card-title text-muted text-center">-- Para
                                                                realizar un pedido presiona aquí, se aperturará una
                                                                nueva página --</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN CONTENIDO PAGINA -->

            <!-- MODAL INFORMACIÓN DEL PEDIDO -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Pedido #45024363</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="card bg-light mb-3 shadow rounded-3">
                                <div class="card-body">
                                    <h4 class="text-center mt-2 text-muted">Cambiar Estado</h4>
                                    <p class="text-center text-muted">Al presionar un estado, automáticamente
                                        recargará la página y la información, procede con precaución</p>
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="floatingSelect"
                                            aria-label="Floating label select example">
                                            <option selected>Selecciona uno...</option>
                                            <option value="1">En Revisión de Pago</option>
                                            <option value="2">Pendiente</option>
                                            <option value="3">Finalizado</option>
                                        </select>
                                        <label for="floatingSelect">Estado del Pedido</label>
                                    </div>
                                </div>
                            </div>
                            <div class="card bg-light border-1 shadow rounded-3">
                                <div class="card-body">
                                    <h4 class="text-center mt-2 text-muted">Estado Actual</h4>
                                    <div class="text-center">
                                        <p class="btn btn-success">Pendiente</p>
                                    </div>
                                    <hr class="text-secondary p-3">
                                    <div class="detail text-start ms-4">
                                        <div class="icon text-center mb-4">
                                            <i class="fa-solid fa-cart-shopping fs-1"></i>
                                        </div>
                                        <h5 class="mt-2 mb-2 text-muted fw-bold">Pastel De Tres Leches</h5>
                                        <p class="text-muted">Sin maní</p>
                                        <p class="text-muted">Sin crema</p>
                                        <p class="text-muted">Sin frutas</p>
                                    </div>
                                    <div class="totalPay mb-5">
                                        <h5 class="text-center text-muted mt-3">Total a Pagar:</h5>
                                        <p class="text-muted text-center fw-bold h4">Q53.00</p>
                                    </div>
                                    <hr class="text-secondary p-1">
                                    <div class="totalPay mb-5 text-center mt-3">
                                        <i class="fa-solid fa-credit-card fs-1"></i>
                                        <i class="fa-brands fa-paypal fs-1 ms-2"></i>
                                        <i class="fa-solid fa-money-bill fs-1 ms-2"></i>
                                        <p class="text-muted text-center mt-2 fw-bold">Pago Electrónico</p>
                                        <p class="text-center">El pago fue realizado con éxito <a href="#"
                                                class="text-black">ver imagen del pago</a></p>
                                    </div>
                                    <hr class="text-secondary p-1">
                                    <div class="totalPay mb-5 text-center mt-3">
                                        <i class="fa-solid fa-file-invoice fs-1"></i>
                                        <p class="text-muted text-center mt-2 mt-3">NIT: <span>104223510</span></p>
                                        <p class="text-muted text-center mt-2">Nombre: <span>104223510</span></p>
                                        <p class="text-muted text-center mt-2">Dirección: <span>104223510</span></p>
                                    </div>
                                    <hr class="text-secondary p-1">
                                    <div class="totalPay mb-5 text-center mt-3">
                                        <i class="fa-solid fa-circle-question fs-1"></i>
                                        <p class="text-muted text-center mt-2 fw-bold">Descripción</p>
                                        <p class="text-center p-2">Lorem ipsum dolor sit amet consectetur
                                            adipisicing elit.
                                            Aliquid
                                            eos fugit ex, soluta esse minima voluptas architecto odit voluptatum,
                                            unde
                                            numquam?
                                            Libero, dolore! Cumque laborum molestiae laudantium dicta quas sint?</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN MODAL INFORMACIÓN DEL PEDIDO -->

        </div>
    </div>

    <!-- SCRIPT DE BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="../../../business/admon/orders.js"></script>
    <script>
        $(".sidebar ul li").on('click', function () {
            $(".activo").removeClass('activo');
            $(".shadow").removeClass('shadow');
            $(this).addClass('activo');
            $(this).addClass('shadow');
        });

        $(".open-btn").on('click', function () {
            $(".sidebar").addClass('activo');
        });

        $(".close-btn").on('click', function () {
            $(".sidebar").removeClass('activo');
        });

        // Loading spinner
        const preloaderWrapper = document.querySelector('.preloader-wrapper');

        window.addEventListener('load', function () {
            preloaderWrapper.classList.add('fade-out-animation');
        });
    </script>
</body>

</html>