<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
    <title>Ubicacion | PG2</title>

    <!-- HOJA DE ESTILOS CSS BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <!-- HOJA DE ESTILOS PROPIA -->
    <link rel="stylesheet" href="component.css">

    <!-- ICONOS -->
    <script src="https://kit.fontawesome.com/be221c52b4.js" crossorigin="anonymous"></script>

    <!-- ICONO EN EL TAB -->
    <link rel="icon" href="../../../../assets/img/images.png">

</head>

<body>

    <!-- HTML BASICO PARA LA PÁGINA -->
    <div class="contenedorTotalPagina">
        <div class="navBar w-100 bg-light">
            <nav class="navbar">
                <div class="container-fluid">
                    <a class="navbar-brand">
                        <img src="../../../../assets/img/images.png" alt="Bootstrap" width="80"
                            loading="lazy">
                    </a>
                    <form class="d-flex" role="search">
                        <a><i class="fa-solid fa-bars fs-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                                aria-controls="offcanvasRight"></i></a>
                    </form>
                </div>
            </nav>
        </div>

        <!-- MENU DE OPCIONES EXTRAS -->
        <div class="rightMenu">
            <div class="offcanvas offcanvas-end grayLight" tabindex="-1" id="offcanvasRight"
                aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close bg-light" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body text-white">
                    <div class="optionMenu">
                        <p class="fw-bold h5 mb-4 mt-5">Menú de Opciones</p>
                        <ul>
                            <li><a href="../../g/account/component"><i class="fa-solid fa-user me-3"></i> Mi Cuenta</a>
                            </li>
                            <li><a href="../../g/ubications/component"><i
                                        class="fa-solid fa-location-crosshairs me-3"></i> Ubicaciones</a></li>
                            <li><a href="../../u/termsAndConditions/component" target="_blank"><i
                                        class="fa-brands fa-readme me-3"></i>
                                    Términos y Condiciones</a></li>
                            <li><a href="https://wa.me/50245024363" target="_blank"><i
                                        class="fa-brands fa-whatsapp me-3"></i> Chatea con Nosotros</a></li>
                        </ul>
                        <div class="mt-5 mb-5">
                            <hr class="bg-light">
                        </div>
                        <p class="fw-bold h5 mb-4">Opciones</p>
                        <ul>
                            <li><a href="../../g/infoProblem/component" target="_blank"><i
                                        class="fa-solid fa-circle-info me-3"></i> Informar Sobre Un Problema</a>
                            </li>
                            <div class="text-center mt-5">
                                <a href="../../u/login/component">
                                    <div class="buttonCloseSession btn btn-light px-5 text-start rounded-5">
                                        <p class="mt-3"><i class="fa-solid fa-right-to-bracket me-3"></i> Cerrar Sesión
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIN MENU EXTRA -->
    </div>

    <!-- PEDIDOS Y DEMAS -->
    <div class="container-fluid">

        <div class="row">

            <!-- INFORMACIÓN DEL PERFIL BÁSICA -->
            <div class="col userActions bg-light">

                <div class="imagenLogo text-center">
                    <img src="../../../../assets/img/cake-strawberries.webp" alt="logoCuenta" width="160" height="150"
                        class="rounded-circle" loading="lazy">
                </div>
                <div class="text-center mt-3">
                    <h1 class="h3"><span id="nameVisit">Nuestra Ubicación</span></h1>
                    <p class="text-muted">Puedes encontrar nuestra ubicación en el mapa.</p>
                </div>
                <div class="actionButton1 text-center mt-2">
                    <a href="../../u/start/component">
                        <div class="buttonBack btn btn-light px-5 text-start rounded-5">
                            <p class="mt-3"><i class="fa-solid fa-arrow-left fs-4"></i></p>
                        </div>
                    </a>
                </div>
            </div>

            <!-- FORMULARIO PARA DATOS DE USUARIO -->
            <div class="col-lg-7 userInformation buttonsAndWelcomeText">

                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d341.41807902678585!2d-90.56175990815443!3d14.501638535569993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8589a7706b116275%3A0xe6e050382d0b687b!2sCasa!5e0!3m2!1ses!2sgt!4v1687805319280!5m2!1ses!2sgt"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>

        </div>
    </div>

    <!-- SCRIPT PARA BOOTSTRAP -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>